body,h1,h2,h3,h4,p,dl,dd,ul,ol,form,input,textarea,th,td,select{margin: 0;padding: 0;}
var,em{font-style: normal;}
ul li{list-style: none;}
a{text-decoration: none; color: xxx;}
img{border: none;vertical-align: top;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize:none;overflow: auto;}
body{font-size:12px;font-family: arial;}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear:after{
	content: '';
	clear: both;
	display: block;
}
body,html{
	width: 100%;
	height: 100%;
}
.wrap{
	width: 100%;
	height: 100%;
	position: relative;
	background: rgb(235,234,228);
}
.header{
	width: 100%;
	height: 60.5px;
	background: rgb(72,56,43);
	position: relative;
}
.header .btn{
	position: absolute;
	top: 27px;
	left: 15px;
}
.header .btn img{
	width: 50%;
	height: 50%;
}
.header p{
	width: 100%;
	height: 100%;
	font-size: 20px;
	text-align: center;
	line-height: 75px;
	color: white;
}
.header .bj{
	position: absolute;
	right:15.5px;
	top: 35.5px;
	font-size: 15px;
	color: white;
}
.content{
	width: 100%;	
	padding-top: 3px;
	padding-bottom: 60px;
	background: rgb(235,234,228);
}
.content .list_1{
	width: 93%;
	margin: 10px auto 0;
	background: white;
	position: relative;
}
.content .list_1 .chose{
	width: 15px;
	height: 15px;
	margin:14% 2.4%;
	border-radius: 100%;
	border: 1px solid rgb(98,98,98);
}
.content .list_1 .chose div{
	width: 11px;
	height: 11px;
	border-radius: 100%;
	margin: 2px auto;
	background: rgba(106,180,57,0);
}
.content .list_1 .pic{
	width: 28.6%;
	margin: 10px 19px 10px 0px;
}.content .list_1 .pic img{
	width: 100%;
}
.content .list_1 .into{
	width: 50%;
	padding-top: 15px;
	position: relative;
}
.content .list_1 .into p:nth-child(1){
	font-size: 15px;
	margin-bottom: 8px;
}
.content .list_1 .into p:nth-child(3){
	font-size: 15px;
	color: red;
	position: absolute;
	bottom: -102%;
}
.content .list_1 .money{
	height: 16px;
	border: 1px solid black;
	position: absolute;
	bottom: 10%;
	right: 3%;
}
.content .list_1 .money div{
	line-height: 16px;
	text-align: center;
}
.content .list_1 .money div:nth-child(1){
	width: 18px;
	border-right: 1px solid #ccc;
}
.content .list_1 .money div:nth-child(2){
	width: 18px;
	border-right: 1px solid #ccc;
}
.content .list_1 .money div:nth-child(3){
	width: 18px;
}
.content .list_1 .lost{
	width: 50px;
	height: 100%;
	position: absolute;
	top: 0%;
	right:0%;
	font-size: 15px;
	color: white;
	text-align: center;
	line-height: 60px;
	background: rgb(255,94,57);
	display: none;
}
.footer{
	width: 100%;
	height: 48px;
	position: fixed;
	bottom: 0;
	right: 0;
	background: rgba(72,56,43,.8);
}
.footer .choses{
	width: 14px;
	height: 14px;
	margin:18px 5px 14px 15px;
	border-radius: 100%;
	border: 2px solid white;
}
.footer .choses div{
	width: 9px;
	height: 9px;
	border-radius: 100%;
	margin: 3px auto;
	background: rgba(106,180,57,0);
}
.footer p{
	padding-top: 21px;
	color: white;
	margin-right: 26px;
}
.footer .hj div:first-child{
	padding-top: 10px;
	margin-bottom: 7px;
	color: white;
	font-size: 14px;
}
.footer .hj div:last-child{
	color: white;
}
.footer .js{
	width: 100px;
	height: 100%;
	position: absolute;
	right: 0;
	background: rgb(255,94,57);
	color: white;
	text-align: center;
	line-height: 48px;
	font-size: 15px;
}
.footer .js a{
	color: white;
}