html,body{
	width: 100%;
	height: 100%;
	background: url(../img/bg.jpg);
	background-size: 100% 100%;
}
.loading{
	width: 100%;
	height: 100%;
	position: relative;
	/*display: none;*/
}
.loading img{
	/*width: 289px;
	height: 289px;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	
}
.loading div {
	position: absolute;
	width: 289px;
	height: 289px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
	animation: move 10s linear infinite both; 
}
@keyframes move {
	from{transform:rotate(-90deg);}
	to{transform:rotate(270deg);}
}
.loading div span{
	width: 25px;
	font-size: 25px;
	position: absolute;
	color: #53bedf;
	top: -25px;
	left: 0;right: 0;
	margin: auto;
	transform-origin: 50% 170px;
}
.loading div span:nth-child(1){transform:rotateZ(0deg);animation:font 1s backwards;}
.loading div span:nth-child(2){transform:rotateZ(10deg);animation:font 1s 0.2s backwards;}
.loading div span:nth-child(3){transform:rotateZ(20deg);animation:font 1s 0.4s backwards;}
.loading div span:nth-child(4){transform:rotateZ(30deg);animation:font 1s 0.6s backwards;}
.loading div span:nth-child(5){transform:rotateZ(50deg);animation:font 1s 0.8s backwards;}
.loading div span:nth-child(6){transform:rotateZ(60deg);animation:font 1s 1s backwards;}
.loading div span:nth-child(7){transform:rotateZ(70deg);animation:font 1s 1.2s backwards;}
.loading div span:nth-child(8){transform:rotateZ(80deg);animation:font 1s 1.4s backwards;}
.loading div span:nth-child(9){transform:rotateZ(90deg);animation:font 1s 1.6s backwards;}
.loading div span:nth-child(10){transform:rotateZ(100deg);animation:font 1s 1.8s backwards;}
.loading div span:nth-child(11){transform:rotateZ(110deg);animation:font 1s 2s backwards;}
.loading div span:nth-child(12){transform:rotateZ(120deg);animation:font 1s 2.2s backwards;}
.loading div span:nth-child(13){transform:rotateZ(130deg);animation:font 1s 2.4s backwards;}
.loading div span:nth-child(14){transform:rotateZ(140deg);animation:font 1s 2.6s backwards;}
.loading div span:nth-child(15){transform:rotateZ(150deg);animation:font 1s 2.8s backwards;}
.loading div span:nth-child(16){transform:rotateZ(160deg);animation:font 1s 3s backwards;}
.loading div span:nth-child(17){transform:rotateZ(170deg);animation:font 1s 3.2s backwards;}
.loading div span:nth-child(18){transform:rotateZ(180deg);animation:font 1s 3.4s backwards;}
.loading div span:nth-child(19){transform:rotateZ(190deg);animation:font 1s 3.6s backwards;}
@keyframes font{
	from{transform:rotateZ(-90deg);opacity: 0}
	to{opacity: 1}
}
.box{
	width: 100%;
	height: 100%;
	background: url(../img/10.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
}
.box .star1{
	width: 10.78125%;
	position: absolute;
	left: 20%;
	animation:  fei1 20s linear  both;
}
@keyframes fei1{
	from{top:21%;left: 20%;}
	10%{top:20%;left: 20%;}
	20%{top:21%;left: 20%;}
	30%{top:20%;left: 20%;}
	40%{top:21%;left: 20%;}
	50%{top:35%;left: 75%;}
	60%{top:34%;left: 75%;}
	70%{top:35%;left: 75%;}
	80%{top:34%;left: 75%;}
	90%{top:35%;left: 75%;}
	100%{top:34%;left: 75%;}
}
.box .star2{
	width: 8.125%;
	position: absolute;
	animation:  fei2 2s linear infinite both;
	left: 51%;
}
@keyframes fei2{
	from{top:80.5%}
	50%{top:79.5%}
	to{top:80.5%;}
}
.box .star3{
	width: 12%;
	position: absolute;
	animation:  fei3 4s 8s linear  both;
}
@keyframes fei3{
	from{top: 78%;left: -12%;}
	10%{top: 65%;left: 16%;}
	20%{top:64%;left: 16%;}
	30%{top:65%;left: 16%;}
	50%{top:64%;left: 16%;}
	70%{top:65%;left: 16%;}
	90%{top:64%;left: 16%;}
	to{top:65%;;left: 16%;}
}
.box .star4{
	width: 12.1875%;
	position: absolute;
	animation:  fei4 2s linear infinite both;
	left: 67%;
}
@keyframes fei4{
	from{top:22%}
	50%{top:21%}
	to{top:22%;}
}
.box .star5{
	position: absolute;
	width: 9.5%;
	left: 12%;top: 33.1%;
	animation: go 2s 2s linear infinite both;
	display: none;
}
.box .star6{
	position: absolute;
	width: 9.5%;
	left: 45%;top: 25%;
	animation: go 2s 2s linear infinite both;
	display: none;
}
.box .star7{
	position: absolute;
	width: 7.3%;
	left: 79%;top: 28.5%;
	animation: go 2s 2s linear infinite both;
	display: none;
}
.box .star8{
	position: absolute;
	width: 7.8%;
	left: 51%;top: 37%;
	animation: go 2s 2s linear infinite both;
	display: none;
}
.box .star9{
	position: absolute;
	width: 12.2%;
	left: 78%;top: 38%;
	animation: go 2s 2s linear infinite both;
	display: none;
}
.box .star10{
	position: absolute;
	width: 12.6%;
	left: 13%;top: 53%;
	animation: go 2s 2s linear infinite both;
	display: none;
}
.box .star11{
	position: absolute;
	width: 8.3%;
	left: 40%;top: 65.5%;
	animation: go 2s 2s linear infinite both;
	display: none;
}
.box .star12{
	position: absolute;
	width: 16.7%;
	left: 70%;top: 59%;
	animation: go 2s 2s linear infinite both;
	display: none;
}
@keyframes go{
	from{transform: translate3d(0,0,0);}
	50%{transform: translate3d(0,20%,0);}
	to{transform: translate3d(0,0,0);}
}
.con{
	width: 100%;
	font-size: 24px;
	text-align: center;
	color: white;
	line-height: 42px;
	padding-top: 300px;
}
.move{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: none;
}
.move .xuzhen{
	width: 76.25%;
	height: 34.75%;
	position: absolute;
	top: 60%;
	right: -76.25%;
	background: url(../img/6.png) no-repeat;
	background-size: 100% 100%;
	animation:super 0.8s steps(1) infinite;
}
@keyframes super{
		0%{background-image:url(../img/6.png);}
		50%{background-image:url(../img/4.png);}
		100%{background-image:url(../img/6.png);}
	}
.move .vivo{
	width: 31.5%;
	height: 38.5%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	animation: vivo 3s 5s linear backwards;
}
@keyframes vivo{
	from{transform: scale(0) rotate(90deg)}
	to{transform: scale(1) rotate(360deg)}
}
.move .sui{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.move .sui div{
	position: absolute;
}
.move .sui div:nth-child(1){
	width: 22.1875%;
	animation: change1 0.5s 2s linear  both;
}
@keyframes change1{
	from{width: 22.1875%;top: 30%;left: 33%;}
	/*1%{width: 19.8%;top: 30%;left: 33%;}*/
	to{width: 19.8%;left: 24%;top: 25%;}
}
.move .sui div:nth-child(2){
	width: 20.9375%;
	animation: change2 0.5s 2s linear  both;
}
@keyframes change2{
	from{width: 20.9375%;top: 30%;left: 46%;}
	/*1%{width: 15%;top: 30%;left: 46%;}*/
	to{width: 15%;left: 57%;top: 26%;}
}
.move .sui div:nth-child(3){
	width: 24.21875%;
	animation: change3 0.5s 2s linear  both;
}
@keyframes change3{
	from{width: 24.21875%;top: 34.5%;left: 42.5%;}
	/*1%{width: 19.8%;top: 34.5%;left: 42.5%;}*/
	to{width: 19.8%;left: 18%;top: 41.5%;}
}
.move .sui div:nth-child(4){
	width: 19.53125%;
	animation: change4 0.5s 2s linear  both;
}
@keyframes change4{
	from{width: 19.53125%;top: 39%;left: 33%;}
	/*1%{width: 17.9%;top: 39%;left: 33%;}*/
	to{width: 17.9%;left: 37%;top: 38%;}
}
.move .sui div:nth-child(5){
	width: 18.59375%;
	animation: change5 0.5s 2s linear  both;
}
@keyframes change5{
	from{width: 18.59375%;top: 39%;left: 42.5%;}
	/*1%{width: 8.9%;top: 39%;left: 42.5%;}*/
	to{width: 8.9%;left: 60%;top: 39%;}
}
.move .sui div:nth-child(6){
	width: 17.8125%;
	animation: change6 0.5s 2s linear  both;
}
@keyframes change6{
	from{width: 17.8125%;top: 46.5%;left: 49%;}
	/*1%{width: 16.7%;top: 46.5%;left: 49%;}*/
	to{width: 16.7%;left: 68%;top: 46%;}
}
.move .sui div:nth-child(7){
	width: 19.53125%;
	animation: change7 0.5s 2s linear  both;
}
@keyframes change7{
	from{width: 19.53125%;left: 33%;top: 52.5%;}
	/*1%{width: 11.7%;left: 33%;top: 52.5%;}*/
	to{width: 11.7%;left: 28%;top: 54%;}
}
.move .sui div:nth-child(8){
	width: 24.84375%;
	animation: change8 0.5s 2s linear  both;
}
@keyframes change8{
	from{width: 24.84375%;left: 41.5%;top: 56%;}
	/*1%{width: 16.25%;left: 41.5%;top: 56%;}*/
	to{width: 16.25%;left: 53%;top: 51%;}
}
.move .qiu{
	width: 100%;
	height: 100%;
	position: relative;
	display: none;
}
.move .qiu div{
	position: absolute;
}
.move .qiu div:nth-child(1){
	width: 19.8%;
	animation: moves1 2s 1s linear  both;
}
.move .qiu div:nth-child(2){
	width: 15%;
	animation: moves2 2s 1s linear  both;
}
.move .qiu div:nth-child(3){
	width: 19.8%;
	animation: moves3 2s 1s linear  both;
}
.move .qiu div:nth-child(4){
	width: 17.9%;
	animation: moves4 2s 1s linear  both;
}
.move .qiu div:nth-child(5){
	width: 8.9%;
	animation: moves5 2s 1s linear  both;
}
.move .qiu div:nth-child(6){
	width: 16.7%;
	animation: moves6 2s 1s linear  both;
}
.move .qiu div:nth-child(7){
	width: 11.7%;
	animation: moves7 2s 1s linear  both;
}
.move .qiu div:nth-child(8){
	width: 16.25%;
	animation: moves8 2s 1s linear  both;
}
@keyframes moves1{
	from{left: 24%;top: 25%;transform: scale(1);}
	to{left:7%;top:28%;transform: scale(0);}
}
@keyframes moves2{
	from{left: 57%;top: 26%;transform: scale(1);}
	to{left:42%;top:23%;transform: scale(0);}
}
@keyframes moves3{
	from{left: 18%;top: 41.5%;transform: scale(1);}
	to{left:9%;top:51.3%;transform: scale(0);}
}
@keyframes moves4{
	from{left: 37%;top: 38%;transform: scale(1);}
	to{left:45.5%;top:31%;transform: scale(0);}
}
@keyframes moves5{
	from{left: 60%;top: 39%;transform: scale(1);}
	to{left:77%;top:27%;transform: scale(0);}
}
@keyframes moves6{
	from{left: 68%;top: 46%;transform: scale(1);}
	to{left:75.5%;top:38%;transform: scale(0);}
}
@keyframes moves7{
	from{left: 28%;top: 54%;transform: scale(1);}
	to{left:38.5%;top:64%;transform: scale(0);}
}
@keyframes moves8{
	from{left: 53%;top: 51%;transform: scale(1);}
	to{left:70%;top:58%;transform: scale(0);}
}
.move .earth{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
}
.move .earth .power{
	width:100%;
	text-align: center;
	position: absolute;
	bottom: 10%;
	color: white;
	font-size: 15px;
	animation: go9 2s 0.5s linear infinite both;
}
@keyframes go9{
	from{opacity: 1}
	50%{opacity: 0}
	to{opacity: 1}
}
.move .earth .btn{
	width: 6.7%;
	position: absolute;
	left: 46.875%;
	bottom: 5%;
	animation: go10 2s 0.5s linear infinite both;
}
@keyframes go10{
	from{opacity: 1}
	50%{opacity: 0}
	to{opacity: 1}
}